<app-comment-box></app-comment-box>
<div class="container-fluid footer" id="footer">
    <div class="col-md-6">
        <!-- <p>United States Senate |  www.senate.gov</p> -->
    </div>
    <div class="col-md-6">
        <ul class="bottom_ul">
            <!-- <li><a href="#">Financial Management Information System</a></li>
            <li><img src="{{enviroment.appRoot}}/assets/images/eagle-white.png" alt="US Senate Financial Management Information System" height="20"></li> -->
        </ul>
    </div>
</div>
