@import 'assets/css/pdf_viewer.css';
@import 'assets/css/print.css';

body {
  background: #333;
}
.content-container {
  background-color: #fff;
}
.stndardcolor {
  display: table;
  width: 100%;
  font-size: 10px;
  text-align: left;
  border-bottom: 1px solid #dadada;
  padding: 6px 0px;
  margin-bottom: 5px;
}
.add-custompic {
  margin: 10px;
  font-size: 12px;
}
input.color-codei {
    
    margin-top: 10px;
    /* display: table; */
    width: 100%;
}
.custominput
{
  display: none;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;  
  display: flex;
  align-items: center;
}
input.color-codei {
  width: 58%;
}
button.custoncoloradd {
  color: #fff;
  padding: 10px 0px;
  background: #2083c5;
  border: none;
  width: 19px;
}
img.toolbar-icon-images.coolapse-icon {
  cursor: pointer;
}

/* Override these styles from pdf_viewer.css  */
.pdfViewer .canvasWrapper {
  box-shadow: 0 0 3px #bbb;
}
.pdfViewer .page {
  margin-bottom: 10px;
}

.pdfViewer .page {
  border-image: none;
}

/* Superimpose annotation layer above the pdf page */
.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.color {
  display: inline-block;
  width: 18px;
  height: 5px;
  border: 1px solid #000;
  vertical-align: middle;
}
.color-selected {
  border: 3px solid #666;
  width: 30px;
  height: 30px;
  margin-top: -1px;
  margin-left: -2px;
  margin-right: -2px;
}
.color-picker {
  z-index: 100;
}

.modal-backdrop{ 
  background-color: #00000040;
  position:fixed;  
  top:0;  
  left:0;  
  width:100%;  
  height:100vh;  
}

/* Comment Box */
#comment-wrapper {
  position: relative;  
  left: -3px;
  top: 36px;
  overflow: auto;
  width: 25vh;
  height: 15vh;
}

#comment-wrapper h4 {
  margin: 10px;
}

#comment-wrapper .comment-list {
  font-size: 12px;
}

#comment-wrapper .comment-list-item {
  padding: 10px;
}

.comment-list-form {
  position: relative;
  bottom: -5px;
}

#comment-wrapper .comment-list-form input {
  padding: 5px;
  width: 20vh;
}
.color-picker a {
  height: 19px;
  width: 19px;
}
.color-picker {
  left: -30px;
  width: 137px !important;
  padding: 10px !important;
}
.color-picker:before {
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -10px;
  left: 59px;
}
.add-custompic {
  display: table;
  margin: 14px 0px 0px 0px;
  font-size: 12px;
  width: 100%;
  text-align: left;
}
a.addcustombutton {
  display: inline-block;
  width: 100%;
  margin-left: 22px;
  color: #333333;
  opacity: 0.8;
  font-size: 11px;
  margin-top: -13px;
  /* float: left; */
}
span.plus-icon {
  border: 1px solid #707070;
  /* display: block; */
  /* float: left; */
  width: 21px;
  padding: 0px 5px;
  /* display: inline-block; */
  /* display: table; */
  /* float: left; */
}
.custominput {
  margin-top: -15px;
}
input.color-codei {
  width: 81%;
}